# MongoDB
URL=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT
JWT_SECRET=<random-string-min-32-chars>
JWT_EXPIRE=7d

# App
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:9000
